* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #6b8e23;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: bg 5s ease-in-out infinite;
}

.container {
  padding: 20px 40px;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  padding-bottom: 10px;
  margin: 5px 10px;
  text-align: center;
  position: relative;
}

p {
  font-size: 1.5rem;
  color: #ffffff;
}

.wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  align-items: end;
}

.object {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease;
  height: 200px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  background-color: #79da79;
  color: white;
  white-space: nowrap;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Default Theme */
.default-theme {
  background-color: #313b3d18;
  color: white;
  border: 2px solid #313b3d18;
}

/* Dark Theme */
.dark-theme {
  background-color: #1d1a1a;
  color: #e0e0e0;
  border: 2px solid #131111;
}

/* Light Theme */
.light-theme {
  background-color: #f5f5f5;
  color: #333333;
  border: 2px solid #dddddd;
}

@keyframes bg {
  0% {
    background-color: #364d1f; /* Dark muted green */
  }
  50% {
    background-color: #4a6139; /* Medium muted green */
  }
  100% {
    background-color: #364d1f; /* Dark muted green */
  }
}