@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
    background-color: #f7f7f7;
}